.ModalForm input {
  margin-bottom: 6px;
} 

.ModalForm input::-webkit-input-placeholder, .ant-picker-input input::-webkit-input-placeholder
{
 	color: #000000 !important;
}

.ModalForm input::-o-input-placeholder, .ant-picker-input input::-o-input-placeholder
{
 	color: #000000 !important;
}

.ModalForm input::-ms-input-placeholder, .ant-picker-input input::-ms-input-placeholder
{
 	color: #000000 !important;
}

.ModalForm input:-moz-input-placeholder, .ant-picker-input input:-moz-input-placeholder
{
 	color: #000000 !important;
}

.ModalForm input::-moz-input-placeholder, .ant-picker-input input::-moz-input-placeholder
{
 	color: #000000 !important;
}

.ModalSelect {
  width: 232px;
  height: 32px;
  color: #000000;
  padding-left: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-right: 8px;
} 

.ModalCantidad {
  width: 232px;
  color: #000000;
}

.ModalCantidadMr {
  margin-right: 8px !important;
}

.ModalCantidad input {
  height: 10px !important;
  padding-top: 6px !important;
}

/* ############### */

.nav{
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 20px 15px;
  align-items: baseline;
}

.btnCreateAccount{
  font-size: 11px !important;
  font-weight: 600 !important;
  padding: 5px 14px !important;
  background: #00C62F !important;
  border-radius: 10px !important;
  text-transform: full-size-kana !important;
}

.counter{
  display: flex;
  gap: 10px;
}

.counter p{
  font-weight: bold;
}

.chip{
  display: flex;
  background: #00C62F;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
}

.chipTable{
  background: #00C62F !important;
  color: white !important;
  font-weight: bold !important;
}

.chipTable svg{
  color: white !important;
}

.chipTableNo{
  background: #f52121 !important;
  color: white !important;
  font-weight: bold !important;
}

.chipTableNo svg{
  color: white !important;
}

.txtCobrado{
  color: #00C62F;
}

.txtNoCobrado{
  color: #f52121;
}

.txtPendiente{
  color: #7d7373;
}

.typeAmount1{
  display: flex;
  align-items: center;
  gap: 10px;
}

.typeAmount1 svg{
  color: #00C62F;
  background: #c6f4f7;
  border-radius: 6px;
}

.typeAmount2{
  display: flex;
  align-items: center;
  gap: 10px;
}

.typeAmount2 svg{
  color: rgb(13, 172, 172);
  background: #c6f4f7;
  border-radius: 6px;
}

.table th{
  font-weight: bold !important;
  border: 0; border-bottom:1px solid #fff
}

.table td{
  border: 0; border-bottom:1px solid #fff
}

/* ################## */
/* Table responsive's styles */

.btnEdit{
  float: right;
  margin-top: -8px;
}

.results {
  display: block ruby;
}

.conten{
  display: flex;
  flex-direction: column;
  width: 96%;
}

.resultResponsive{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.columnas{
   column-count: 2;
   column-gap: 20px;
   text-align: left;
   list-style: none;
}

.columnas li{
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
}

.columnas li p{
  font-weight: 300;
  font-size: 16px;
}

@media all and (min-width: 718px){
 .itemSearch{
    width: 400px;
  }

  .resultResponsive{
    display: none;
  }
}

@media all and (max-width: 717px){
  .divTable{
    display: none;
  }

  .nav{
    flex-direction: column; 
  }

  .counter{
    order: 1;
  }

  .itemSearch{
    order: 3;
    width: 100%;
  }

  .itemButton{
    order: 2;
    align-self: end;
    margin-top: -32px;
    margin-bottom: 8px;
  }

  .resultResponsive{
    display: block;
  }
}