.ant-tabs {
  margin-top: 20px;
}

.ant-tabs-tab {
  font-size: 12px;
  line-height: 12px;
  color: #00C62F;
}

.ant-tabs .ant-tabs-tab-btn {
  color: #000 !important;
  font-size: 12px;
  line-height: 12px;
}

.ant-tabs-tab:hover .ant-tabs-tab-btn, .ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #00C62F !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #00C62F !important;
}

.ant-tabs  .ant-tabs-ink-bar {
  background: #00C62F;
}


/* .ant-tabs-tab-btn {
  font-size: 12px;
  line-height: 12px;
  color: #00C62F;
}

.ant-tabs-ink-bar {
  background: #00C62F !important;
} */

.Login_Login__VdlKH .ant-steps-horizontal:nth-child(2) {
  display: none !important;
}

.Login_Login__VdlKH .ant-steps-horizontal:nth-child(3) {
  display: none !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00C62F;
  border-color: #00C62F;
}

.ant-steps.ant-steps-navigation .ant-steps-item::before {
  background-color: #00C62F;
}

.ant-steps-item-active .ant-steps-item-icon {
  background-color: #00C62F !important;
  border-color: #00C62F !important;
}

.ant-steps-item-active .ant-steps-icon {
  color: #fff !important;
}

.Login_Login__VdlKH .ant-btn-default {
  display: none !important;
}

.Login_Login__VdlKH .ant-btn-primary {
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  background: #00C62F;
}

.Login_Login__VdlKH .ant-btn-primary:hover {
  cursor: pointer !important;
  background: #00df35;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #D9FFE2;
  border-color: #D9FFE2;
}

.ant-steps-item-active .ant-steps-item-title {
  color: #000 !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
  color: #00C62F;
}

.intl-tel-input {
  width: 100% !important;
  padding: 4px 0px;
  border: 1px  solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 12px;
}

.intl-tel-input .selected-flag {
  width: 64px !important;
  font-size: 12px !important;
  padding-right: 5px !important;
}

.intl-tel-input .selected-dial-code {
  padding-left: 6px !important;
  padding-right: 5px !important;
}

.intl-tel-input .flag-container .arrow {
  font-size: 6px !important;
  margin-left: 0px !important;
  position: relative;
  top: -4px;
}

.iti-flag {
  margin-top: 9px !important;
  margin-left: 5px;
}

.intl-tel-input input {
  width: 260px;
  margin-left: 10px !important;
  padding-left: 0px !important;
  border: 0px;
  text-align: left !important;
}

.intl-tel-input input::-webkit-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-o-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-ms-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input:-moz-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-moz-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input:focus-visible {
  outline: 0px !important;
}

.ant-space {
  display: block;
}

.ant-input-affix-wrapper >input.ant-input {
  height: 18px;
  font-size: 12px;
  margin-bottom: 0px !important;
}

.ant-input-affix-wrapper {
  height: 29px;
  margin-bottom: 12px;
}

.ant-menu-inline .ant-menu-item {
  width: 100%;
  height: 35px !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px !important;
  margin-left: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 26px !important;
  border-radius: 0px !important;
}

.ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background: url(selectedMenu.png) no-repeat right;
  background-size: cover;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: url(hoverMenu.png) no-repeat right;
  background-size: cover;
  -webkit-transition: all 300ms ease-out;
 	-moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
 	transition: all 300ms ease-out;
}

.ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: #ffffff;
}

.ant-menu-item-selected .icon-icoResumen:before {
  color: #ffffff !important;
}

.ant-btn-primary {
  color: #000;
  background-color: #ffffff;
}

.ant-btn-primary {
  margin-left: 15px;
  padding: 4px 8px;
  position: relative;
  top: -8px;
}

.ant-layout .ant-layout-sider-has-trigger {
  width: 236px !important;
  min-width: auto !important;
  max-width: initial !important;
  flex: 0 0 236px !important;
  background: #fff !important;
  padding-bottom: 48px;
}

.ant-layout .ant-layout-sider-trigger {
  width: 245px !important;
  min-width: 245px !important;
  max-width: 245px !important;
  background: #fff !important;
}

.ant-menu-inline .ant-menu-item:not(:last-child), :where(.css-dev-only-do-not-override-k7429z).ant-menu-vertical .ant-menu-item:not(:last-child) {
  margin: 0px;
  margin-bottom: 8px;
  border-radius: 0px;
}

.ant-menu-inline-collapsed >.ant-menu-item {
  padding-left: 22px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-collapsed {
  /* width: 80px !important; 
  min-width: auto !important;
  max-width: initial !important;
  flex: 0 0 80px !important; */
  background: #fff !important;
  padding-bottom: 48px;
}

.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: 80px !important;
}

.Home_HomeHeader__wcSyt .ant-btn-primary:not(:disabled):hover {
  color: #01c630;
  background-color: #ffffff;
}

.ant-layout {
  background: #ffffff !important;
}

.Home_HomeBienvenida__sj2zO .ant-btn-primary {
  color: #ffffff;
  background-color: #00C62F;
  font-size: 11px;
  font-weight: 600;
  margin-left: 0px;
  margin-top: 22px;
  padding: 0px 14px;
  top: 0px;
}

.Home_HomeBienvenida__sj2zO .ant-btn-primary:hover {
  cursor: pointer !important;
  background: #00df35;
}

.Home_RegistarBanco__wRoqq .anticon svg {
  font-size: 14px !important;
  vertical-align: inherit;
}

#BtnSiguiente, #BtnTerminar {
  display: none;
}

.Cargando {
  display: none !important;
  width: 25px;
  float: right;
  margin-top: -5px;
  margin-left: 5px;
}

.Cargando.Sf {
  float: none;
  text-align: center;
}
.Cargando.mostrarI-b{
  display: inline-block;
}

.Cargando.Mt {
  width: 25px !important;
  height: 25px !important;
  margin-top: 0px;
}

.Cargando.mostrar{
  display: block !important;
}

.css-1d6wzja-MuiButton-startIcon>*:nth-of-type(1) {
  font-size: 16px !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 4px !important;
  display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    text-align: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.04);
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu {
  text-align: left !important;
}

.MuiTable-root tr {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.MuiTable-root tr:hover {
  background: #d9ffe2;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.MuiTable-root tr:hover {
  background: #d9ffe2;
}

.Iconos-Tabla {

}

.Iconos-Tabla svg {
  display: none;
  font-size: 14px;
}

.MuiTable-root tr:hover svg {
  display: inline-block;
}

.Iconos-Tabla .icoBorrar {
  color: #f52121
}

.css-18lrjg1-MuiCircularProgress-root {
  color: #068822 !important;
}

.ant-layout {
  background: #ffffff !important;
}

.ant-menu {
  text-align: left !important;
}

.ant-btn-default:hover {
  color: #fff !important;
  background: #00df35;
}

.ant-btn-primary:hover {
  background: #00df35 !important;
}

.ant-menu .ant-menu-item{
   width: 100%;
  height: 35px !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px !important;
  margin-left: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 26px !important;
  border-radius: 0px !important;
}

.ant-menu .ant-menu-item:hover {
  background: url(hoverMenu.png) no-repeat right;
  background-size: cover;
  -webkit-transition: all 300ms ease-out;
 	-moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
 	transition: all 300ms ease-out;
}

 .ant-menu-item-selected {
  color: #FFF !important;
  background: url(selectedMenu.png) no-repeat right;
  background-size: cover;
}

.ant-menu-item-selected .icon-icoResumen:before {
  color: #fff !important;
}

.ant-modal-content {
  padding-top: 15px !important;
}

.Cobrado .ant-btn-default {
  color: #f5232d !important;
}

.Cobrado .ant-btn-default:hover {
  color: #ffffff !important;
  background: #f5232d !important;
}

.Cobrado .ant-btn-primary {
  color: #ffffff !important;
  background: #f5232d !important;
}

.Cobrado .ant-btn-primary:hover {
  background: #00df35 !important;
}

.MuiPaper-root {
  box-shadow: none !important;
}

.MuiPaper-root input {
  padding-left: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.AvarHeader svg {
  display: none !important;
}