.ant-tabs {
  margin-top: 20px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-tab-btn {
  font-size: 12px;
  line-height: 12px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00C62F;
}

:where(.css-dev-only-do-not-override-k7429z).ant-tabs .ant-tabs-ink-bar {
  background: #00C62F;
}

.Login_Login__VdlKH .ant-steps-horizontal:nth-child(2) {
  display: none !important;
}

.Login_Login__VdlKH .ant-steps-horizontal:nth-child(3) {
  display: none !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #00C62F;
  border-color: #00C62F;
}

:where(.css-dev-only-do-not-override-k7429z).ant-steps.ant-steps-navigation .ant-steps-item::before {
  background-color: #00C62F;
}

.ant-steps-item-active .ant-steps-item-icon {
  background-color: #00C62F !important;
  border-color: #00C62F !important;
}

.ant-steps-item-active .ant-steps-icon {
  color: #fff !important;
}

.Login_Login__VdlKH .ant-btn-default {
  display: none !important;
}

.Login_Login__VdlKH .ant-btn-primary {
  color: #fff;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  background: #00C62F;
}

.Login_Login__VdlKH .ant-btn-primary:hover {
  cursor: pointer !important;
  background: #00df35;
}

:where(.css-dev-only-do-not-override-k7429z).ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #D9FFE2;
  border-color: #D9FFE2;
}

.ant-steps-item-active .ant-steps-item-title {
  color: #000 !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
  color: #00C62F;
}

.intl-tel-input {
  width: 100% !important;
  padding: 4px 0px;
  border: 1px  solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 12px;
}

.intl-tel-input .selected-flag {
  width: 64px !important;
  font-size: 12px !important;
  padding-right: 5px !important;
}

.intl-tel-input .selected-dial-code {
  padding-left: 6px !important;
  padding-right: 5px !important;
}

.intl-tel-input .flag-container .arrow {
  font-size: 6px !important;
  margin-left: 0px !important;
  position: relative;
  top: -4px;
}

.iti-flag {
  margin-top: 9px !important;
  margin-left: 5px;
}

.intl-tel-input input {
  width: 260px;
  margin-left: 10px !important;
  padding-left: 0px !important;
  border: 0px;
  text-align: left !important;
}

.intl-tel-input input::-webkit-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-o-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-ms-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input:-moz-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input::-moz-input-placeholder
{
 	color: #adadad;
}

.intl-tel-input input:focus-visible {
  outline: 0px !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-space {
  display: block;
}

:where(.css-dev-only-do-not-override-k7429z).ant-input-affix-wrapper >input.ant-input {
  height: 18px;
  font-size: 12px;
  margin-bottom: 0px !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-input-affix-wrapper {
  height: 29px;
  margin-bottom: 12px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-item {
  width: 100%;
  height: 35px !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px !important;
  margin-left: 0px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 26px !important;
  border-radius: 0px !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu .ant-menu-item-selected {
  background: url(selectedMenu.png) no-repeat right;
  background-size: cover;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
  background: url(hoverMenu.png) no-repeat right;
  background-size: cover;
  -webkit-transition: all 300ms ease-out;
 	-moz-transition: all 300ms ease-out;
	 -ms-transition: all 300ms ease-out;
 	-o-transition: all 300ms ease-out;
 	transition: all 300ms ease-out;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-k7429z).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: #ffffff;
}

.ant-menu-item-selected .icon-icoResumen:before {
  color: #ffffff !important;
}


:where(.css-dev-only-do-not-override-k7429z).ant-btn-primary {
  color: #000;
  background-color: #ffffff;
}

:where(.css-dev-only-do-not-override-k7429z).ant-btn-primary {
  margin-left: 15px;
  padding: 4px 8px;
  position: relative;
  top: -8px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-has-trigger {
  width: 236px !important;
  min-width: auto !important;
  max-width: initial !important;
  flex: 0 0 236px !important;
  background: #fff !important;
  padding-bottom: 48px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-trigger {
  width: 245px !important;
  min-width: 245px !important;
  max-width: 245px !important;
  background: #fff !important;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline .ant-menu-item:not(:last-child), :where(.css-dev-only-do-not-override-k7429z).ant-menu-vertical .ant-menu-item:not(:last-child) {
  margin: 0px;
  margin-bottom: 8px;
  border-radius: 0px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-menu-inline-collapsed >.ant-menu-item {
  padding-left: 22px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-collapsed {
  /* width: 80px !important; 
  min-width: auto !important;
  max-width: initial !important;
  flex: 0 0 80px !important; */
  background: #fff !important;
  padding-bottom: 48px;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  width: 80px !important;
}

.Home_HomeHeader__wcSyt .ant-btn-primary:not(:disabled):hover {
  color: #01c630;
  background-color: #ffffff;
}

:where(.css-dev-only-do-not-override-k7429z).ant-layout {
  background: #ffffff !important;
}

.Home_HomeBienvenida__sj2zO .ant-btn-primary {
  color: #ffffff;
  background-color: #00C62F;
  font-size: 11px;
  font-weight: 600;
  margin-left: 0px;
  margin-top: 22px;
  padding: 0px 14px;
  top: 0px;
}

.Home_HomeBienvenida__sj2zO .ant-btn-primary:hover {
  cursor: pointer !important;
  background: #00df35;
}

.Home_RegistarBanco__wRoqq .anticon svg {
  font-size: 14px !important;
  vertical-align: inherit;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1m62vyb).ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: #00df35;
}

:where(.css-dev-only-do-not-override-1m62vyb).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-1m62vyb).ant-menu-light > .ant-menu .ant-menu-item-selected {
  color: white;
}